[Unit]
Description=Flask Hello Web Application
After=network.target

[Service]
Type=simple
User=shen
WorkingDirectory=/www/wwwroot/hexo/hello
Environment=PATH=/data/miniconda3/envs/light/bin:/usr/bin:/usr/local/bin
ExecStart=/data/miniconda3/envs/light/bin/python -m gunicorn --bind 127.0.0.1:5001 wsgi:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 